.publicidad {
  display: flex;
  flex-direction: row;
  width: 450px;
  
  border: 2px solid black;
  border-radius: 5px;
  padding: 30px 30px 30px 0px;
}

.publicidad p {
  margin: 0;
  text-align: justify;
}