.contenedorGrilla {
    margin: 15px 0 15px 0;
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reserva {
    background-color: #7e97b3;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 8px 0 0;
    min-width: 100px;
}

.contenedorGrilla table {
    width: 100%;
    border-collapse: collapse;
}

.contenedorGrilla th, .contenedorGrilla td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: center;
}

.contenedorGrilla th {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border-radius: 8px 8px 0 0;
}