.contenedorGrilla {
    margin: 15px 0 15px 0;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;

}
.reserva {
    margin: 0 8px 0 0;
}

.contenedorGrilla td {
    border: 1px solid black;
    text-align: center;
}